*{
    margin: 0;
    padding: 0;
}
.icon{
    height: 120px;
}
.log{
    text-decoration: none;
}
.foot{
    text-decoration: none;
}
.footer {
    width: 100%;
    text-align: center;
    height: 30px;
}